<div class="footer">
  <div class="hor-rule"></div>
  <h3 class="contact-header">CONTACTS</h3>
  <div class="contact-section">
    <p>dominik@lameter.com</p>
    <div class="vert-rule"></div>
    {% include icon-link.html source="/assets/images/linkedin-64.png" text="LinkedIn" link="https://www.linkedin.com/in/dlameter/" %}
    {% include icon-link.html source="/assets/images/text-file-3-64.png" text="Resume" link="https://drive.google.com/file/d/1rEOtJ4aeIr61bHM8-F1W-F9F3ZeFuF9g/view?usp=sharing" %}
  </div>
  <p class="copyright">Copyright &copy 2019</p>
</div>
