$background: #f3f3f3;
$date-color: #555;
$copyright-color: $date-color;
$dark: #22232a;
//$highlight: #30b337;
//$highlight: #02a82e;
$highlight: #269d02;
$hor-rule-color: #ddd9d6;
$link-visited-color: #8bc24c;

$large-main-width: 50%;
$large-sidebar-width: 25%;
$mobile-width: 85%;
$nav-link-margins: 0 2rem 0 2rem;
$nav-link-margins-first: 0 2rem 0 0;

$animation-float-up: 'float-up 0.10s ease 1';

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin box-shadow {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
}

@mixin content-padding {
  padding: 0 5px 0 5px;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -o-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin growing-underline($color) {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color;
    visibility: hidden;
    @include transform(scaleX(0));
    @include transition(all 0.1s ease-in-out 0s);
  }

  &:hover:before {
      visibility: visible;
      @include transform(scaleX(1));
  }
}

* {
  color: $dark;
  font-family: 'Source Sans Pro', sans-serif;
  @include text-shadow;
}

a {
  color: $highlight;

  &:visited {
    color: $link-visited-color;
  }
}

body {
  background-color: $background;
  margin-right: calc(100vw - 100%);
}

html {
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.contact-header {
  color: $highlight;
}

.contact-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  > * {
    margin: 0 1rem;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.content {
  width: $large-main-width;

  h1, h2, h3, p {
    @include content-padding;
  }
}

.copyright {
  color: $copyright-color;
  font-size: 1rem;
}

.date {
  color: $date-color;
  font-size: 1rem;
  line-height: 1.25rem;
}

.dated-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0 0.25rem 0 0.25rem;
    margin: 0 0 1rem 0;

    * {
      margin: 0;
      padding: 0;
    }
  }
}

.footer {
  width: 100%;
  margin: 1rem 0 1rem;

  * {
    text-align: center;
  }
}

.hor-rule {
  background-color: $hor-rule-color;
  height: 1px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.icon-link {
  background-color: $highlight;
  border-radius: 50%;
  padding: 0.5rem;

  a img {
    width: 1rem;
    height: 1rem;
  }
}

.jumbotron {
  @include content-padding;

  img {
    @include box-shadow;
    max-width: 100%;
  }
}

.mugshot {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;

  img {
    border-radius: 50%;
    @include box-shadow;
    align-self: center;
    width: 50%;
  }
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 1rem auto 1rem;
  position: relative;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
}

.nav-link {
  color: $dark;
  font-size: 1.25rem;
  font-weight: bold;
  margin: $nav-link-margins;
  line-height: 2rem;
  text-decoration: none;
  @include growing-underline($dark);

  &:visited {
    color: $dark;
  }

  &:first-child {
    margin: $nav-link-margins-first;
  }

  &-current {
    color: $highlight;
    font-size: 1.25rem;
    font-weight: bold;
    margin: $nav-link-margins;
    line-height: 2rem;
    text-decoration: none;
    @include growing-underline($highlight);

    &:visited {
      color: $highlight;
    }

    &:first-child {
      margin: $nav-link-margins-first;
    }
  }
}

.page {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10rem;
}

.sidebar {
  width: $large-sidebar-width;
}

.spacer {
  width: $large-sidebar-width;
}

.text-center {
  text-align: center;
}

.vert-rule {
  background-color: $hor-rule-color;
  height: 2rem;
  width: 2px;
}

@media all and (max-width: 500px) {
  .content {
    width: $mobile-width;
  }

  .nav-bar {
    width: $mobile-width;
  }

  .nav-container {
    width: $mobile-width;
  }

  .page {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .sidebar {
    width: $mobile-width;
  }
}

@media all and (max-width: 1000px) {
  .nav-bar {
    justify-content: space-around;
  }

  .nav-link {
    margin: 0 0 0 0;

    &:first-child {
      margin: 0 0 0 0;
    }

    &-current {
      margin: 0 0 0 0;

      &:first-child {
        margin: 0 0 0 0;
      }
    }
  }
}
